
#boardCard {
  height: 45vh;
  width: 25vw;
  border: 8px;
  border-color: white;
  overflow: hidden;
  justify-content: center;
  padding: 0.5em;
}

/* .ui.card img {
  height: 100%;
  width: 100%;
} */

#BoardImageContainer {
  z-index: -1;
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  text-align: center;
  text-align: center;
  min-height: 100vh;
}
