
.App {
  /* display: grid;
  text-align: center;
  grid-template-areas: "l lm rm r"; */
  background-color: black;
}


.App-header {
  background-color: #40484f;
  justify-content: center;
  height: 150px;
  padding: 2px;
  width: 100vw;
  color: white;
  position: absolute;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#search-bar {
  position: absolute;
  /* display: flex; */
  justify-content: center;
  padding-left: 10vw
}

#image-list {
  z-index: -1;
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  /* grid-template-columns: 33vw 33vw 33vw;
  grid-template-areas: "l m r"; */
  /* grid-template-columns: 50vw 50vw;
  grid-template-areas: "l r"; */
  text-align: center;
  background-color: #fff8dd;
  min-height: 100vh;
}

#NavBar {
  min-height: 100vh;

}

.ui.header {
  background-color: black;
  color: white;
}

.ui.fluid {
  z-index: 1;
  position: absolute;
  right: 25%;
  background: black;
  outline: red;
}
